{% extends "layout.html" %}

{% block title %}
    Add Expenditure
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input type="radio" name="flow" value="income">
            <label for="income">Income</label>
            <input type="radio" name="flow" value="expense">
            <label for="expense">Expense</label>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="date" placeholder="Date" type="Date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="method" placeholder="Payment Method" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="category" placeholder="Category" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="amount" placeholder="Amount" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="note" placeholder="Note" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}