{% extends "layout.html" %}

{% block title %}
    Add Meetings/Tasks
{% endblock %}

{% block main %}
    <h2 class="text-center fw-bold mb-2">Select Date:</h2>
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="date" placeholder="" type="Date">
        </div>
    </form>
    <h2 class="text-center fw-bold mb-2">Schedule Time for Meeting:</h2>
    <form action="/add" method="post">
        <div class="mb-3">
            <input type="time" id="appt" name="appt" min="08:00" max="18:00">
            <small>Office hours are 8am to 6pm</small>
        </div>
    </form>
    <h2 class="text-center fw-bold mb-2">Add Task:</h2>
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="task" placeholder="" type="text">
        </div>
    </form>
{% endblock %}