{% extends "layout.html" %}

{% block title %}
    View Meetings/Tasks
{% endblock %}

{% block main %}

    {% for date in dates %}
        <tbody>
            <td class="text-start">{{ date.id }}</td>
            <td class="text-start">{{ date.Meetings }}</td>
            <td class="text-end">{{ date.Tasks }}</td>
        </tbody>
    {% endfor %}

    <form action="/view" method="post">
        <button class="btn btn-primary" type="submit">Add Meeting/Task</button>
    </form>

{% endblock %}